:root{
    --bg-color: #99cccc;
    --accent-color: #cc99cc;
    --dark-accent: #854385;
    --light-text: #e6e6cc; 

    /* --bg-color: #666699;
    --accent-color: #b89494;
    --dark-accent: #996666;
    --light-text: #e6e6cc;  */

    /* --bg-color: #666699;
    --accent-color: #85adad;
    --dark-accent: #5c7389;
    --light-text: #e6e6cc;  */

    /* --bg-color: black;
    --accent-color: #05c880;
    --dark-accent: #037d50;
    --light-text: white;  */
    
    /* --bg-color: black;
    --accent-color: #b6b6b6;
    --dark-accent: #838383;
    --light-text: white;  */

    background-color: var(--bg-color);
    color: black;
}
#navBar{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
#navBar a{
    color:black ; 
    background-color: var(--accent-color);
    padding: 15px;
    transition: 0.2s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#navBar a.active{
    background-color: var(--dark-accent) ; 
    color: var(--light-text);
    box-shadow: 5px 5px 2px var(--accent-color);
}
#ticTacToeBoard{
    padding: 10px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    height: 600px;
    gap: 10px;
    color: black;
    background-color: var(--dark-accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#endgameText{
  font-size: 24px;
  text-align: center;
}
.square8{
  grid-column-start: 1;
  grid-row-start: 1;
}
.square3{
  grid-column-start: 2;
  grid-row-start: 1;
}
.square4{
  grid-column-start: 3;
  grid-row-start: 1;
}
.square1{
  grid-column-start: 1;
  grid-row-start: 2;
}
.square5{
  grid-column-start: 2;
  grid-row-start: 2;
}
.square9{
  grid-column-start: 3;
  grid-row-start: 2;
}
.square6{
  grid-column-start: 1;
  grid-row-start: 3;
}
.square7{
  grid-column-start: 2;
  grid-row-start: 3;
}
.square2{
  grid-column-start: 3;
  grid-row-start: 3;
}
.square{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  text-align: center;
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#scoreboard{
  width: 95%;
  border-collapse: collapse;
}
#scoreboard tbody td{
  border-top: 2px solid var(--light-text);
  background-color: var(--accent-color);
  padding: 3px;
}
#scoreboard thead td{
  background-color: var(--dark-accent);
  color: var(--light-text);
  padding: 3px;
}
#scoreContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
}